@import url(//fonts.googleapis.com/css?family=Roboto:500,300,400);

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:#333;
    width: 90%;
    padding: 10px;
    center : transform
}

/* social-auth */
.social {
    float:right;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:3%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }

.content_s {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

a {
    color:#3fad37;
    text-decoration:none;
}

ul {
    float:left;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:300;
}

h1 {
    background:#efefef;
    width:100%;
    overflow:auto;
    padding:20px 0 20px 40px;
    margin:0;
}

.module {
    padding:10px 20px;
    float:left;
    width:600px;
}

.module h3 {
    margin:20px 0 0;
    padding:0;
    width:100%;
}

.module p {
    margin:10px 0 20px;
    width:100%;
    float:left;
}

.contents {
    width:20%;
    padding:10px;
    float:left;
    background:#333;
    color: #fff;
    font-family:'Roboto', sans-serif;
}

.contents ul {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
}

.contents ul li {
    margin:0 0 10px 0;
    padding:4px 10px 10px;
    overflow:auto;
    cursor:move;
}

.contents ul li.selected {
    background:#3f3f3f;
}

.contents ul li:hover {
    background:#3f3f3f;
}

.contents ul span {
    text-transform:uppercase;
    color:#bbb;
    font-size:14px;
}

.contents ul a {
    display:block;
    color:#fff;
    text-decoration:none;
}

.contents ul a:hover {
    color:#4dcc43;
    cursor:move;
}

ul.content-types li {
    list-style:none;
    float:left;
    margin:10px;
    background:#efefef;
    padding:8px 14px;
}

.hidden {
    display:none;
}

form p {
    overflow:auto;
}

.errorlist {
    color:#ae2c2c;
    margin:0;
}

label {
    float:left;
    clear:both;
    margin:0 0 8px 0;
}

input, select, textarea {
    border:1px solid #ccc;
    border-bottom:3px solid #ccc;
    padding:8px 12px;
    font-size:16px;
    font-family:'Roboto', sans-serif;
    float:left;
    clear:both;
    width:300px;
}

textarea {
    height:80px;
}

select {
    width:324px;
}

input[type=submit], a.button {
    border-radius:5px;
    background:#4dcc43;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    border:none;
    padding:10px 20px;
    margin:20px 0;
}

a.secondary-button {
    border:3px solid #4dcc43;
    padding:10px 20px;
    margin:10px 0;
}

input[type=submit]:hover, a.button:hover {
    background:#3fad37;
}

ul#course-modules {
    list-style:none;
    overflow:auto;
}

ul#course-modules textarea {
    width:600px;
    height:120px;
}

ul#course-modules li {
    padding:20px;
    overflow:auto;
    cursor:move;
}

ul#course-modules li:nth-child(even) {
    background:#efefef;
}

ul#course-modules li:hover {
    background:#ccc;
}

#module-contents div {
    padding:10px 20px;
    border:1px solid #ccc;
    background:#fff
}

#module-contents form {
    margin:0;
    padding:0;
}

#module-contents input[type=submit] {
    color:#3fad37;
    background:none;
    margin:-20px 0 0;
    padding:0;
    float:left;
    text-transform:none;
}

#module-contents div:hover {
    cursor:move;
}

.course-info {
    border:1px solid #ccc;
    padding:0 20px;
    margin-bottom:10px;
    width:400px;
    overflow:auto;
}

.course-info a {
    margin-right:10px;
}

.helptext {
    color:#ccc;
    padding-left:20px;
}

#chat {
    top: 64px;
    bottom:0;
    position:fixed;
    width:100%;
    overflow-y:scroll;
    padding-bottom:150px;
}

#chat .message {
    background:#efefef;
    padding:10px 20px;
    border-radius:4px;
    width:auto;
    display:inline;
    float:left;
    margin:10px 10px 0;
    min-width:440px;
    clear:both;
}

#chat .message.me {
    display:inline;
    float:right;
    background:#DCEDE0;
    color:#56A668;
}

#chat .date {
    color:#aaa;
    font-style:italic;
    font-size:12px;
}

#chat-input {
    position:absolute;
    bottom:0;
    background:#efefef;

    width:100%;
    padding-top:20px;
}

#chat-input input {
    width:96%;
    position:left;
    float:left;
    display:inline;
    margin-left:2%;
    margin-right:2%;
    padding-left:0;
    padding-right:0;
}

// ----------------------------
// BASE STYLES
// ----------------------------

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.fade-screen {
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

// ----------------------------
// ANIMATIONS
// ----------------------------

@keyframes specialFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}

.specialFadeIn {
  animation-name: specialFadeIn;
}

@keyframes specialFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.specialFadeOut {
  animation-name: specialFadeOut;
}

@keyframes specialSlideInRight {
  from {
    transform: translate3d(10%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.specialSlideInRight {
  animation-name: specialSlideInRight;
}

@keyframes specialFadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.spceialFadeInRight {
  animation-name: specialFadeInRight;
}

.menu-search-container.active {
  display: block;
  animation-name: specialFadeOut;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visible {
  visibility: visible;
}

.hidden {
  display: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu {
  ul li {
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.menu-mac {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-delay: 30ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-delay: 245ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-iPad {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-delay: 70ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-delay: 210ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-iPhone {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-delay: 100ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-delay: 170ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-watch {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-delay: 130ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-delay: 130ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-tv {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-delay: 170ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-delay: 100ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-support {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-delay: 210ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-delay: 70ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-search {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-delay: 245ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-delay: 30ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-store {
  &.is-closed {
    animation-name: specialFadeIn;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    animation-name: specialFadeOut;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }
}

.menu-search-input {
  animation-name: specialFadeInRight;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-delay: 350ms;
}

.search-sub-menu h3 {
  animation-name: specialFadeInRight;
  animation-duration: 700ms;
  animation-fill-mode: both;
}

.search-sub-menu ul li {
  animation-name: specialFadeInRight;
  animation-duration: 500ms;
  animation-fill-mode: both;

  &:nth-child(1) {
    animation-delay: 0ms;
  }
  &:nth-child(2) {
    animation-delay: 30ms;
  }
  &:nth-child(3) {
    animation-delay: 50ms;
  }
  &:nth-child(4) {
    animation-delay: 70ms;
  }
  &:nth-child(5) {
    animation-delay: 90ms;
  }
}

// ----------------------------
// NAV
// ----------------------------

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  min-width: 1024px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  z-index: 2;
}

.menu-container {
  position: relative;
  margin: 0 auto;
  margin-top: -5px;
  max-width: 980px;
  padding: 0 22px;

  ul {
    list-style: none;
  }

  ul li {
    display: inline-block;
    text-align: center;
    width: auto;
    margin-right: 76px;

    &:last-child {
      margin-right: 0;
    }
  }

  ul li a {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    float: left;

    &:hover {
      color: #969696;
    }
  }

  &.menu-apple {
    background-repeat: no-repeat;
    width: 20px;
  }
}

.apple-icon {
  font-size: 20px;
}

// ----------------------------
// NAV Search Form
// ----------------------------

.menu-search-container {
  display: none;
  position: absolute;
  top: 0;
  left: 20.6667%;
  width: 56.66667%;
  z-index: 2;

  input {
    background-color: transparent;
    border: none;
    width: 80%;
    font-size: 16px;
    outline: none;
    color: #fff;
  }

  a {
    color: #fff;

    &:first-child {
      display: block;
      float: left;
      padding-right: 10px;
    }
  }

  &.active {
    display: block;
  }
}

.menu-search-close {
  position: absolute;
  right: -183px;
  top: 0;
}



// Sub Menu
.search-sub-menu {
  background: #fff;
  width: 100%;
  margin-top: 14px;
  color: #999;
  font-weight: 100;
  padding: 24px 0 15px;
  z-index: 1;

  h3 {
    font-size: 12px;
    font-weight: 100;
    margin-top: 0;
    padding-left: 28px;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: block;
      text-align: left;
      padding-bottom: 10px;
      margin: 0;
      text-indent: 50px;

      a {
        font-size: 14px;
        color: #999;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
          background-color: #f2f2f2;
          color: #3392de;
        }

        &:first-child {
          float: none;
          padding-right: 0;
        }
      }
    }
  }
}
